<body>
    <h1>Kue queue</h1>
    <h2>Queue jobs</h2>
    <h3>Active jobs:</h3>
    <ul id="list">
        <% 
            jobs.forEach((job) => {
        %>
        <li><a href="#"><%= job.id %></a></li>
        <%
            });
        %>
    </ul>
    <button id="button_start">Start job</button>
    <span>

    </span>
</body>